.sidebar {
  display: flex;
  height: 100%;
  position: fixed;
  width: 108px;
  top: 0;
  left: 0;
  background-color: #313866; /* Set your desired background color */
  overflow-x: hidden;
  color: #fff; /* Set your desired text color */
  transition: width 0.5s ease; /* Add a smooth transition effect */
  z-index: 50;
  padding-top: 25px;
  flex-direction: column;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu-item {
  padding: 2px;
  font-size: 20px;
  color: #e7dddd81;
  display: block;
  width: inherit;
  transition: width 0.2s ease;
  display: flex;
  flex-direction: column;
  padding: 2vh 4vh 2vh 2vh;
}

.menu-item:hover {
  color:#f1f1f1 ;
}

#sidebar-title {
  background-color: #434359;
    width: 45%;
    align-self: center;
    height: 50%;
    border-radius: 5%;
    box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.btn-cancel {align-self: center;
margin-bottom: 1rem;
padding: 3% 8%;}

.sidebar:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar.expanded {
  width: 320px; /* Set the expanded width */
  z-index: 50;
}

.content *{
  /* Apply transition for properties you want to animate within children */
  transition: opacity 0.5s ease; /* Example: transition opacity with the same duration */
}

.content {
  /* Apply transition for properties you want to animate within children */
  transition: opacity 0.5s ease; /* Example: transition opacity with the same duration */
}
  