.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    align-self: baseline;
}

span {
    margin-right: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}